*{
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    
}

.join{
    border:2px solid black;
    border-radius: 15%;
    padding: 50px;
    margin: 100px 500px;
    text-align: center;
}
.input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:1px solid black;
}

.btn{
    margin: 10px;
}