.btn1{
    margin-left: 7%;
    max-height: 50px;
 }
.header{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    color: rgb(63, 63, 124);
    margin:3%;
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2%;
    margin-left: 7%;
}
.card{
    max-width: 400px;
    max-height: 300px;
    margin:2%;
    
}
.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
