*{
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    
}

.dashboard{
    border:2px solid rgb(63, 63, 124);
    border-radius: 15%;
    padding: 50px;
    margin: 100px 500px;
    text-align: center;
}
h1,h2{
    color: rgb(63, 63, 124);
    font-size: 35px;
    font-weight: bolder;
    margin-top: 1%;
    
}
.label{
    color: rgb(12, 12, 75);
    font-size: 15px;
    
}
.input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:1px solid rgb(63, 63, 124);
}

.btn{
    margin: 10px;
}