<div class="update">
    <h1>Update song:</h1>
    <div class="example-container">
      <mat-label>Enter song name</mat-label>
      <br>
      <input class="input" matInput  required>
      <br>
      <mat-label>Enter artist name</mat-label>
      <br>
      <input class="input" matInput  required>
      <br>
      <mat-label>Enter song URL</mat-label>
      <br>
      <input class="input" matInput  required>
      <br>
      <mat-label>Song rating</mat-label>
      <br>
      <input class="input" matInput  required>
      <br>
      <mat-label>Favourite (yes or no)</mat-label>
      <br>
      <input class="input" matInput  required>
      <br>
      <mat-label>Category</mat-label>
      <br>
      <input class="input" matInput  required>
      <br>
      <mat-label>Date edited</mat-label>
      <br>
      <input class="input" matInput  required>
      <br>
  </div>
<button class="btn" mat-raised-button color="primary" >UPDATE</button>
<br>

</div>